<!DOCTYPE html>
<html>
<head>
    <title>Calendar and Event Planner</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- body %> <!-- This is where the content of the view will be injected -->
    <script src="/js/main.js"></script>
</body>
</html>
